<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyGraph</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
      <script src="index.js" defer></script>
  </head>
  <body>
    <!-- Nav -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-info fw-bold" href="#">EasyGraph</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Title -->
    <h1 class="fw-bold text-secondary text-center" id="title">EasyGraph</h1>

    <!-- Models -->
    <div class="fs-2 text-secondary d-flex justify-content-center gap-4 mt-3">
      <i class="bi bi-bar-chart-steps text-info"></i>
      <i class="bi bi-bar-chart-fill "></i>
      <i class="bi bi-circle-fill"></i>
      <i class="bi bi-dash-lg"></i>
      <i class="bi bi-graph-up-arrow"></i>
    </div>

    <!-- Tools -->
    <div class="d-flex m-2">
      <!-- Buttons -->
      <div class="d-flex gap-2 col-4 m-0">
        <button id="addShow" class="btn btn-sm btn-success m-0" type="button">
          <i class="bi bi-plus-lg ">
            <span class="d-sm-inline d-none">Add</span>
          </i>
        </button>
        <button class="btn btn-sm btn-danger m-0" id="delete">
          <i class="bi bi-trash3-fill"></i> <!-- delete -->
        </button>
      </div>
      
      <!-- Title -->
      <div class="text-center col-8">
        <p class="fs-4 text-dark m-0">Title</p>
      </div>
    </div>

    <!-- Add form-->
    <div id="addTarget" class="hidden">
      <div class="d-flex justify-content-center  mb-2">
        <div></div>
        <p class="fs-4 fw-bold text-center text-success-dark m-0 ms-2"> 
          Add
        </p>
        <button id="addClose" class="btn text-danger fw-bold d-flex m-0 py-0 ">
          <i class="bi bi-x-lg fs-4"> </i> <span class="mt-fix-5">Close </span>
        </button>
      </div>
      <div class="d-flex justify-content-center gap-2 mx-2">
        <div class="col-3">
          <input id="addName" type="text" class="form-control"  placeholder="Name..."/>
        </div>
        <div class="col-2">
          <input id="addValue" type="text" class="form-control"  placeholder="Value..."/>
        </div>
        <div>
          <select id="addSelect" class="form-select fw-bold" >
            <option selected disabled hidden>color</option>
            <option id="add-0" value="0" class="text-success">Success</option>
            <option id="add-1" value="1" class="text-primary">Primary</option>
            <option id="add-2" value="2" class="text-info">Info</option>
            <option id="add-3" value="3" class="text-warning">Warning</option>
            <option id="add-4" value="4" class="text-danger">Danger</option>
          </select>
        </div>
        <div id="addChoiceColor"class="wh-40 border rounded rounded-5"></div>
        <button id="addData" class="btn btn-success m-0" type="button">          
          <i class="bi bi-check-lg">
          <span class="d-sm-inline d-none">ok</span>
        </i></button>
      </div>
    </div>

    <!-- Edit form -->
    <div id="editTarget" class="hidden"> <!--hidden -->
      <div class="d-flex justify-content-center mb-2">
        <div></div>
        <p class="fs-4 fw-bold text-center text-success-dark m-0 ms-2"> 
          Edit 
        </p>
        <button id="editClose" class="btn text-danger fw-bold d-flex m-0 py-0 ">
          <i class="bi bi-x-lg fs-4"> </i> <span class="mt-fix-5">Close </span>
        </button>
      </div>
      <div class="d-flex justify-content-center gap-2 mx-2">
        <div class="mt-fix2">
          <button id="delete" class="btn text-danger m-0 px-0">
            <i class="bi bi-trash3-fill fs-5 "> </i> <!-- delete -->
          </button>
        </div>
        <div class="col-3">
          <input id="editName" type="text" class="form-control"  placeholder="Name..."/>
        </div>
        <div class="col-2">
          <input id="editValue" type="text" class="form-control"  placeholder="Value..."/>
        </div>
        <div>
          <select id="editSelect" class="form-select fw-bold" >
            <option selected disabled hidden>color</option>
            <option id="edit-0" value="0" class="text-success">Success</option>
            <option id="edit-1" value="1" class="text-primary">Primary</option>
            <option id="edit-2" value="2" class="text-info">Info</option>
            <option id="edit-3" value="3" class="text-warning">Warning</option>
            <option id="edit-4" value="4" class="text-danger">Danger</option>
          </select>
        </div>
        <div id="editChoiceColor" class="wh-40 border rounded rounded-5"></div>
        <button id="editData" class="btn btn-success m-0" type="button">          
          <i class="bi bi-check-lg">
          <span class="d-sm-inline d-none">ok</span>
        </i></button>
      </div>
    </div>

    <!-- Vue.js show datas -->
    <div class="show">
      <div id="dataJson" class="d-flex mt-4 m-2">
        <!-- Items -->
        <div class="col-4">
          <div 
            v-for="data in datas" 
            :key="data.id"
            :id="'item-' + data.id" 
            class="pointer d-flex fw-bold my-2 h-20"
          >
            <div :id="'pick-'+data.id" :class="[data.color, 'rounded', 'w-20']"></div>
            <div :id="'row-'+data.id" class="d-flex text-secondary mt-fix">
              <p :id="'value-'+data.id" class="mx-2">{{ data.value }}</p>
              <p :id="'name-'+data.id" class="fst-italic fw-light">{{ data.name }}</p>
            </div>
          </div>
        </div>
        <!-- Graphs -->
        <div class="col-8">
          <div 
            v-for="data in datas" 
            :key="data.id" 
            class="d-flex gap-2 p-0 my-2 h-20"
          >
          <div 
            :id="'graph-' + data.id" 
            :class="[data.color,'rounded-end', ]"
            :style="{ width: getPercentage(data) + '%' }"
          >
          </div>
            <p class="mt-fix">{{ getPercentage(data) + '%' }}</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>