#graph-1 { width:  200px; }
#graph-2 { width:  125px; }
#graph-3 { width:  125px;height: 20px; }

.w-20 { width:  20px; }
.h-20{ height: 20px;}
.wh-40 { width:  40px; height: 40px; }

.fix-txt{ margin-top: -3px; }

.show{ display: block; }
.hidden{ display: none ; }

.pointer{ cursor: pointer;}

  select {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }

  select:hover {
    background-color: lightgray; /* Effet au survol du select */
  }

  option:hover {
    background-color: lightblue; /* Cela ne fonctionne pas sur tous les navigateurs */
  }

  select option {
    padding: 5px;
    color: black;
    background-color: white;
  }


/* light */
.text-primary-light { color: #b3d7ff !important; }
.text-secondary-light { color: #d6d8db !important; }
.text-success-light { color: #b7e4c7 !important; }
.text-danger-light { color: #f8d7da !important; }
.text-warning-light { color: #fff3cd !important; }
.text-info-light { color: #cfe9f7 !important; }
.bg-primary-light, .bg-primary-light:hover { background-color: #b3d7ff !important; }
.bg-secondary-light { background-color: #d6d8db !important; }
.bg-success-light, .bg-success-light:hover { background-color: #b7e4c7 !important; }
.bg-danger-light, .bg-danger-light:hover { background-color: #f8d7da !important; }
.bg-warning-light, .bg-warning-light:hover { background-color: #fff3cd !important; }
.bg-info-light, .bg-info-light:hover { background-color: #cfe9f7 !important; }

/* dark*/
.text-primary-dark { color: #0a48b3 !important; }
.text-secondary-dark { color: #343a40 !important; }
.text-success-dark { color: #11623c !important; }
.text-danger-dark { color: #9e1f2c !important; }
.text-warning-dark { color: #a37c05 !important; }
.text-info-dark { color: #086589 !important; }
.bg-primary-dark, .bg-primary-dark:hover { background-color: #0a48b3 !important; }
.bg-secondary-dark { background-color: #343a40 !important; }
.bg-success-dark, .bg-success-dark:hover { background-color: #11623c !important; }
.bg-danger-dark, .bg-danger-dark:hover { background-color: #9e1f2c !important; }
.bg-warning-dark { background-color: #a37c05 !important; }
.bg-info-dark, .bg-info-dark:hover { background-color: #086589 !important; }

/* 
Primary : #0d6efd
Secondary : #6c757d
Success : #198754
Danger : #dc3545
Warning : #ffc107
Info : #0dcaf0
Light : #f8f9fa
Dark : #212529 
*/

/* Modal styles */
.modal1 {
    display: none; /* Initialement caché */
    position: fixed;
    z-index: 1; /* Situer le modal au-dessus de tout le contenu */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centrer */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Taille modale */
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  